[Unit]
Description=vas3k_whois script
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=20s

[Service]
Type=simple
WorkingDirectory={{ project_dir }}
Environment=PYTHONUNBUFFERED=1
# Using full path to script so we could find it using "ps ax | grep whois"
ExecStart={{ scripts_dir }}/venv/bin/python {{ project_dir }}/src/main.py
Restart=always
StandardOutput=append:{{ logs_prefix }}.log
StandardError=append:{{ logs_prefix }}.log
